h1,
h2,
h3,
h4,
p {
    font-family: 'Mooli', sans-serif;
}

.title {
    text-align: center;
}

.aligncenter {
    text-align: center;
}

.navigation {
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: #0981b0;
    color: #fff;
    align-items: center;
}

.navigation li {
    display: flex;
    flex: 1 1 100%;
}

#seacrh {
    display: flex;
    flex-direction: row;
}

.main-column {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;

}

img {
    text-align: center;
}

.colorgreen {
    color: green;
}

.colorblue {
    color: #0981b0
}

.colorchampagne {
    color: #bbb01ebe;

}

.colorbrown {
    color: #473c3c;
}

.colorlilac {
    color: #662d66;
}

.backgroundchampagne {
    background-color: #bbb01ebe;
}

#maps {
    text-align: center;
    position: static;
    align-content: center;
}

footer {
    border-style: ridge;
    background-color: #bbb01ebe;
}

section h3 {
    border-style: ridge;
    border-bottom: #0981b0;
}

.container {
    position: relative;
}

.joinbutton {
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
    background-color: #008000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: wavy;
    display: flex;
    font-size: 25px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 #473c3c, 0 6px 20px 0 #473c3c;

}

#imgbanner {
    width: 100%;
    height: auto;
    opacity: 0.5;
}