h1,
h2,
h3,
h4 {
    font-family: 'Font1', sans-serif;
}

p {
    font-family: 'Font2', sans-serif;
}


header {
    background: #0625af;
    padding: 1rem;
    text-align: center;
    color: azure;

}

nav {
    background-color: #27c4ec;
    padding: 1rem;
    align-items: center;
    border: blue;
    border-style: groove;
}


#course {
    text-align: center;
}

nav ul {
    display: block;
    list-style: none;
    text-align: center;
    border: rgb(2, 2, 58);
    border-style: outset;
    border-radius: 40%;
}

.nav-item {
    margin: 20px 0;
    font-size: x-large;
}

.main-column {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.card {
    background-color: #70fce5;
    padding: 20px;
    border: 1px solid #70fce5;
    border-radius: 5px;
}

#information {
    align-items: center;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #27c4ec;
    height: 100%;
    padding: 1rem;

}

footer {
    background: #0625af;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 3;
    color: azure
}

#course-list {
    list-style-type: none;
    padding: 0;
}

#nonenumber {
    list-style: circle;
}


#menu {
    font-size: 1rem;
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 3px 7px 6px;
    background-color: #597ee6;
    color: #000000;
    position: fixed;
    top: 25rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "💠";
}

/*.nav flex_column {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #333333;
    color: #fff;
}


.nav.flex_column li a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.nav.flex_column li a:hover {
    background-color: #bbbbbb;
    color: #333;
    font-weight: 200;
}*/

.hamburger {
    display: none;
}

@media screen and (max-width: 700px) {

    /* Show the hamburger button for mobile screens */
    .hamburger {
        display: block;
    }

    .nav {
        display: none;
    }

    .nav.show {
        display: block;
    }
}