/******** Larger Views ************/
@media (min-width: 600px) {
    nav ul {
        display: flex;
        justify-content: center;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    .main-column {
        grid-template-columns: repeat(2, 1fr)
    }

}

.hamburger {
    display: none;
}

@media screen and (max-width: 650px) {

    /* Show the hamburger button for mobile screens */
    .hamburger {
        display: block;
    }

    .nav {
        display: none;
    }

    iframe {
        width: 100%;
        height: fit-content;

    }

}