:root {
    --blue: #1f3c61;
    --black: #080808;
    --yellow: #cec54c;
    --red: #aa0505;
    --white: #faf9fa;
}

h1,
h2,
h3,
h4,
p {
    font-family: 'Mooli', sans-serif;
}
header {
    text-align: center;
    padding: 20px 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
nav {
    background-color: var(--white);
    opacity: 80%;

    flex-direction: row;
}

.navbar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    border-style: groove;
    padding: 0;
   
}

.navigation li {
    display: inline-block;
    margin: 0 10px;
}

.navigation li a {
    display: flexbox;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--black);
    font-size: 18px; /
}

navigation li a:hover {
    background-color: var(--white);
    color: var(--black);
    font-weight: 700;
}

.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}

#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
}

.title {
    text-align: center;
}

.container {
    display: grid;
    flex-direction: row;
    opacity: 90%;
}

.main-column {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;
}

.column {
    flex: 1;
    padding: 30px;
    gap: 10px;
}

footer {
    border-style: ridge;
    background-color: var(--white);
    text-align: center;
}

table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.hero {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.joinbutton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--yellow);
    border: none;
    color: var(--white);
    padding: 30px 2000px;
    text-align: center;
    text-decoration: wavy;
    display: flex;
    font-size: 24px;
    border-radius: 1px;
    box-shadow: 0 8px 16px 0 #473c3c, 0 6px 20px 0 #473c3c;
    opacity: 70%;

}